syntax: regexp
_ReSharper.ReactiveTables/.*
.*user
.*suo
syntax: glob
ReactiveTables.sln.DotSettings.user
ReactiveTables.v11.suo
ReactiveTables/ReactiveTables.csproj.DotSettings.user
ReactiveTables/ReactiveTables.csproj.user
**/obj/
**/bin/
packages
.vs/
